In [1]:
import pandas as pd 
import scanpy as sc

paths:

In [3]:
path_input_h5ad = '../../../data/HLCA_extended/extension_datasets/raw/Barbry/D460_D463_concatenate_prefiltered-2.h5ad'
path_out_full_biopsy = "../../../data/HLCA_extended/extension_datasets/ready/full/barby_BIOP.h5ad"
path_out_full_brush = "../../../data/HLCA_extended/extension_datasets/ready/full/barby_BRUS.h5ad"
path_genes_to_include = "../../../data/HLCA_extended/extension_datasets/genes_for_mapping.csv"

In [2]:
adata = sc.read(path_input_h5ad)

In [3]:
adata.obs

,manip,donor,method,position,n_genes,CellTypes_V2,batch
name,,,,,,,
D463_BIOP_NAS1AAACCCAAGACATAGT-1-0,D463_BIOP_NAS1,D463,BIOP,NAS,934,Suprabasal,0
D463_BIOP_NAS1AAACCCAAGGGATCAC-1-0,D463_BIOP_NAS1,D463,BIOP,NAS,3886,Secretory N,0
D463_BIOP_NAS1AAACCCAAGGTCACCC-1-0,D463_BIOP_NAS1,D463,BIOP,NAS,420,empty,0
D463_BIOP_NAS1AAACCCAAGTATGGCG-1-0,D463_BIOP_NAS1,D463,BIOP,NAS,2315,Secretory N,0
D463_BIOP_NAS1AAACCCACAATGTCTG-1-0,D463_BIOP_NAS1,D463,BIOP,NAS,2736,Suprabasal,0
...,...,...,...,...,...,...,...
D463_BRUS_NAS1TTTGATCTCTATCACT-1-16,D463_BRUS_NAS1,D463,BRUS,NAS,3210,Suprabasal,16
D463_BRUS_NAS1TTTGGAGCATGCCGAC-1-16,D463_BRUS_NAS1,D463,BRUS,NAS,5032,Goblet,16
D463_BRUS_NAS1TTTGTTGAGTTTCGGT-1-16,D463_BRUS_NAS1,D463,BRUS,NAS,3791,Secretory,16
D463_BRUS_NAS1TTTGTTGCAGACCTAT-1-16,D463_BRUS_NAS1,D463,BRUS,NAS,5007,Goblet,16
D463_BRUS_NAS1TTTGTTGTCGCTTGCT-1-16,D463_BRUS_NAS1,D463,BRUS,NAS,3330,Club,16

In [4]:
adata.obs.donor.unique()

['D463', 'D460']
Categories (2, object): ['D463', 'D460']

In [5]:
adata.obs.batch.unique()

['0', '1', '2', '3', '4', ..., '7', '10', '11', '12', '16']
Length: 12
Categories (12, object): ['0', '1', '2', '3', ..., '10', '11', '12', '16']

In [6]:
adata.obs.method.unique()

['BIOP', 'BRUS']
Categories (2, object): ['BIOP', 'BRUS']

In [7]:
pd.crosstab(adata.obs.donor, adata.obs.batch)

batch,0,1,2,3,4,5,6,7,10,11,12,16
donor,,,,,,,,,,,,
D460,0,14059,0,0,10140,9549,0,7735,5073,0,3157,0
D463,16577,0,13815,10434,0,0,7954,0,0,3633,0,1887

In [8]:
adata.obs.position.unique()

['NAS', 'PRO', 'INT']
Categories (3, object): ['NAS', 'PRO', 'INT']

In [9]:
adata.obs.CellTypes_V2.value_counts()

Basal                29844
Suprabasal           15283
Multiciliated        13955
Goblet                6693
Endothelial           5171
Secretory             4518
Serous                4319
Secretory N           3658
empty                 3549
Club                  2967
LT_NK                 2512
Smooth muscle         1998
Goblet MUC5B          1960
Duct cells            1222
Macrophage            1186
IPF Basal              677
Cycling Basal          494
Fibroblast             462
Inflamatory Basal      436
Ionocyte               421
Unknown 2              318
SMG Basal              315
SMG Goblet             302
doublets ?             253
Pericyte               200
B cells                194
Plasma cells           191
KRT14 Basal            189
Erythrocytes           183
SMG_Goblet              89
Smooth Muscle           81
Mast cells              79
Multiciliated SAA       51
Deuterosomal            51
Lymphatic               45
Monocytes               43
Glandular               43
Unknown 1               33
PNEC ?                  15
Squamous                13
Name: CellTypes_V2, dtype: int64

In [10]:
adata_cleaned = adata[adata.obs.CellTypes_V2!='doublets ?']

/home/icb/daniel.strobl/conda_scib/envs/scIB-python-2/lib/python3.7/site-packages/anndata/_core/anndata.py:1094: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  if not is_categorical(df_full[k]):

In [11]:
adata_cleaned = adata_cleaned[adata_cleaned.obs.CellTypes_V2!='empty']

In [12]:
adata_cleaned.obs.CellTypes_V2.value_counts()

Basal                29844
Suprabasal           15283
Multiciliated        13955
Goblet                6693
Endothelial           5171
Secretory             4518
Serous                4319
Secretory N           3658
Club                  2967
LT_NK                 2512
Smooth muscle         1998
Goblet MUC5B          1960
Duct cells            1222
Macrophage            1186
IPF Basal              677
Cycling Basal          494
Fibroblast             462
Inflamatory Basal      436
Ionocyte               421
Unknown 2              318
SMG Basal              315
SMG Goblet             302
Pericyte               200
B cells                194
Plasma cells           191
KRT14 Basal            189
Erythrocytes           183
SMG_Goblet              89
Smooth Muscle           81
Mast cells              79
Multiciliated SAA       51
Deuterosomal            51
Lymphatic               45
Monocytes               43
Glandular               43
Unknown 1               33
PNEC ?                  15
Squamous                13
Name: CellTypes_V2, dtype: int64

In [13]:
adata_cleaned.X = adata_cleaned.raw.X

/home/icb/daniel.strobl/conda_scib/envs/scIB-python-2/lib/python3.7/site-packages/scipy/sparse/_index.py:116: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
  self._set_arrayXarray_sparse(i, j, x)

In [14]:
adata_cleaned.X

<100211x16859 sparse matrix of type '<class 'numpy.float32'>'
	with 397121952 stored elements in Compressed Sparse Row format>

In [15]:
adata.X

<104013x16859 sparse matrix of type '<class 'numpy.float32'>'
	with 400911513 stored elements in Compressed Sparse Row format>

In [16]:
adata.raw.X[0:10,0:10].todense()

matrix([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0., 0., 0., 2.],
        [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.]], dtype=float32)

In [17]:
adata_cleaned.obs['original_celltype_ann']=adata_cleaned.obs.CellTypes_V2

Trying to set attribute `.obs` of view, copying.

In [18]:
adata_cleaned.obs['subject_ID']=adata_cleaned.obs.donor

In [19]:
adata_cleaned.obs['sample']=adata_cleaned.obs.batch

In [20]:
adata_cleaned.obs['condition']='IPF'

In [21]:
adata_cleaned.obs['study']='BarbyUnpublished'

In [22]:
adata_cleaned.obs['dataset']=adata_cleaned.obs.study.astype(str) + adata_cleaned.obs.method.astype(str)

In [23]:
adata_cleaned.obs = adata_cleaned.obs[['method', 'original_celltype_ann', 'subject_ID', 'sample', 'condition', 'study', 'dataset']]

In [24]:
adata_cleaned.obs.method.value_counts()

BIOP    63489
BRUS    36722
Name: method, dtype: int64

In [34]:
del adata_cleaned.obsm

In [39]:
del adata_cleaned.raw

In [42]:
adata_out = adata_cleaned.copy()

In [43]:
adata_out.X = adata_out.X.astype(int)

In [45]:
del adata_out.uns

In [47]:
del adata_out.layers['scaled']

In [48]:
adata_out

AnnData object with n_obs Ã— n_vars = 100211 Ã— 16859
    obs: 'method', 'original_celltype_ann', 'subject_ID', 'sample', 'condition', 'study', 'dataset'
    var: 'gene_ids', 'feature_types', 'genome', 'mt', 'ribo'

In [49]:
adata_cleaned_biop = adata_out[adata_out.obs.method=='BIOP']

In [51]:
adata_cleaned_biop.write(path_out_full_biopsy)

In [52]:
adata_cleaned_brus = adata_out[adata_out.obs.method=='BRUS']

In [53]:
adata_cleaned_brus.write(path_out_full_brush)

Trying to set attribute `.obs` of view, copying.
... storing 'condition' as categorical
Trying to set attribute `.obs` of view, copying.
... storing 'study' as categorical
Trying to set attribute `.obs` of view, copying.
... storing 'dataset' as categorical

In [54]:
adata_out

AnnData object with n_obs Ã— n_vars = 100211 Ã— 16859
    obs: 'method', 'original_celltype_ann', 'subject_ID', 'sample', 'condition', 'study', 'dataset'
    var: 'gene_ids', 'feature_types', 'genome', 'mt', 'ribo'

In [55]:
genes = pd.read_csv(path_genes_to_include)

In [59]:
genes['gene_symbols'].values

array(['FGR', 'CFH', 'HS3ST1', ..., 'CH17-262H11.1', 'RP1-34B20.21',
       'TRBV6-2'], dtype=object)

In [60]:
sc.pp.subset_and_pad_adata(genes['gene_symbols'].values, adata_out)

AttributeError: module 'scanpy.preprocessing' has no attribute 'subset_and_pad_adata'