## Data import for Gomperts_2021/carraro data:

In [1]:
import scanpy as sc
import numpy as np
import pandas as pd
import os

In [3]:
dir_data_in = "../../../data/HLCA_extended/extension_datasets/ready/full/"
dir_data_out = "../../../data/HLCA_extended/extension_datasets/ready/subsetted/"

In [2]:
adata_ucla = sc.read(os.path.join(dir_data_in, 'carraro_ucla.h5ad'))
adata_cff = sc.read(os.path.join(dir_data_in, 'carraro_cff.h5ad'))
adata_csmc = sc.read(os.path.join(dir_data_in, 'carraro_csmc.h5ad'))

In [7]:
adata_ucla
adata_cff
adata_csmc

AnnData object with n_obs × n_vars = 19239 × 31229
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'

AnnData object with n_obs × n_vars = 6995 × 31229
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'

AnnData object with n_obs × n_vars = 14475 × 31229
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'

In [4]:
for i in adata_ucla.obs.columns:
    print(i)
    adata_ucla.obs[i].value_counts()

subject_ID

BG9_34    2849
BG9_20    2502
BG9_12    2163
BG9_31    1706
BG9_33    1623
BG9_37    1622
BG9_22    1349
BG9_19    1216
BG9_21     865
BG9_23     822
BG9_2      532
BG9_3      464
BG9_30     363
BG9_26     280
BG9_18     191
BG9_36     183
BG9_27     168
BG9_7      158
BG9_35     115
BG9_24      42
BG9_25      26
Name: subject_ID, dtype: int64

dataset

Gomperts2021_UCLA    19239
Name: dataset, dtype: int64

condition

CF    9836
CO    9403
Name: condition, dtype: int64

mutation

no              9403
dF508/dF508     5461
dF508_dF508     2849
dF508_G551D      822
dF508/NLR P3     363
dF508/L633K      183
dF508/1898A      158
Name: mutation, dtype: int64

original_celltype_ann

Basal        10948
Secretory     5007
Ciliated      3132
Ionocyte        86
FOXN4+          52
NE              14
Name: original_celltype_ann, dtype: int64

study

Gomperts2021    19239
Name: study, dtype: int64

sample

BG9_34    2849
BG9_20    2502
BG9_12    2163
BG9_31    1706
BG9_33    1623
BG9_37    1622
BG9_22    1349
BG9_19    1216
BG9_21     865
BG9_23     822
BG9_2      532
BG9_3      464
BG9_30     363
BG9_26     280
BG9_18     191
BG9_36     183
BG9_27     168
BG9_7      158
BG9_35     115
BG9_24      42
BG9_25      26
Name: sample, dtype: int64

In [5]:
for i in adata_cff.obs.columns:
    print(i)
    adata_cff.obs[i].value_counts()

subject_ID

ND15656     3306
ND15989     2122
CF301018     713
ND17494      557
ND16737      297
Name: subject_ID, dtype: int64

dataset

Gomperts2021_CFF    6995
Name: dataset, dtype: int64

condition

CF    4316
CO    2679
Name: condition, dtype: int64

mutation

dF508_1811_A-G    3306
no                2679
dF508_1078detT     713
dF508_R553X        297
Name: mutation, dtype: int64

original_celltype_ann

Basal        3745
Secretory    2392
Ciliated      803
FOXN4+         29
Ionocyte       23
NE              3
Name: original_celltype_ann, dtype: int64

study

Gomperts2021    6995
Name: study, dtype: int64

sample

ND15656     3306
ND15989     2122
CF301018     713
ND17494      557
ND16737      297
Name: sample, dtype: int64

In [6]:
for i in adata_csmc.obs.columns:
    print(i)
    adata_csmc.obs[i].value_counts()

subject_ID

dd10p        2132
cc05p        1687
dd09p        1592
cc01p        1243
cc04p        1120
dd49p        1062
cf019        1059
dd39p         969
KKD019N       719
h18           685
KKD022N       572
cc02p         547
KKD020N       501
KKCFFT32N     450
KKD024N        80
KKD023N        57
Name: subject_ID, dtype: int64

dataset

Gomperts2021_CSMC    14475
Name: dataset, dtype: int64

condition

CO    11037
CF     3438
Name: condition, dtype: int64

mutation

no              11037
dF508_dF508      1821
dF508_G551D      1059
G542x_L1077p      501
G542x/R785x        57
Name: mutation, dtype: int64

original_celltype_ann

Basal        6161
Secretory    4484
Ciliated     3660
FOXN4+         86
Ionocyte       75
NE              9
Name: original_celltype_ann, dtype: int64

study

Gomperts2021    14475
Name: study, dtype: int64

sample

dd10p        2132
cc05p        1687
dd09p        1592
cc01p        1243
cc04p        1120
dd49p        1062
cf019        1059
dd39p         969
KKD019N       719
h18           685
KKD022N       572
cc02p         547
KKD020N       501
KKCFFT32N     450
KKD024N        80
KKD023N        57
Name: sample, dtype: int64

Note: UCLA dataset seems to have more donors than quoted in the paper

In [9]:
pd.crosstab(adata_ucla.obs.subject_ID, adata_ucla.obs.original_celltype_ann)

original_celltype_ann  Basal  Ciliated  FOXN4+  Ionocyte  NE  Secretory
subject_ID
BG9_12                  1472       142       2        10   2        535
BG9_18                   117        15       0         2   0         57
BG9_19                   765        76       3         5   0        367
BG9_2                    342        15       0         2   1        172
BG9_20                  1253       745       4        19   3        478
BG9_21                   539       168       1         2   0        155
BG9_22                   861       192       3         3   1        289
BG9_23                   420       206       2         6   1        187
BG9_24                    16         0       0         0   0         26
BG9_25                     2         1       0         0   0         23
BG9_26                   133        70       3         3   0         71
BG9_27                    54        11       1         1   0        101
BG9_3                    329        11       2         1   0        121
BG9_30                   197        49       0         4   0        113
BG9_31                   784       438      10         6   2        466
BG9_33                   996       174       5         6   2        440
BG9_34                  1442       660      11         7   2        727
BG9_35                    51         6       0         0   0         58
BG9_36                   106        35       0         0   0         42
BG9_37                   968       109       4         7   0        534
BG9_7                    101         9       1         2   0         45

In [13]:
np.any(adata_ucla.obs.original_celltype_ann.isna())

False

All samples seem to be annotated and therefore fine

In [ ]:
pd.crosstab(adata_ucla.obs.subject_ID, adata_ucla.obs.condition)

In [16]:
pd.crosstab(adata_cff.obs.subject_ID, adata_cff.obs.condition)

condition     CF    CO
subject_ID
CF301018     713     0
ND15656     3306     0
ND15989        0  2122
ND16737      297     0
ND17494        0   557

In [18]:
pd.crosstab(adata_csmc.obs.subject_ID, adata_csmc.obs.condition)

condition     CF    CO
subject_ID
cc01p          0  1243
cc02p          0   547
cc04p          0  1120
cc05p          0  1687
cf019       1059     0
dd09p          0  1592
dd10p          0  2132
dd39p          0   969
dd49p          0  1062
h18            0   685
KKCFFT32N    450     0
KKD019N      719     0
KKD020N      501     0
KKD022N      572     0
KKD023N       57     0
KKD024N       80     0

# Subset data

In [19]:
gene_set = pd.read_csv('genes_for_mapping.csv')

In [20]:
cd ../scripts

/mnt/znas/icb_zstore01/groups/ml01/workspace/hlca_lisa.sikkema_malte.luecken/scripts

In [21]:
import preprocessing as pp

In [22]:
cd ../query_datasets/

/mnt/znas/icb_zstore01/groups/ml01/workspace/hlca_lisa.sikkema_malte.luecken/query_datasets

In [23]:
adata_ucla_sub = pp.subset_and_pad_adata(gene_set, adata_ucla)
adata_cff_sub = pp.subset_and_pad_adata(gene_set, adata_cff)
adata_csmc_sub = pp.subset_and_pad_adata(gene_set, adata_csmc)

/home/icb/malte.luecken/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2492: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)

not all genes were recovered, filling in 0 counts for 40 missing genes...
not all genes were recovered, filling in 0 counts for 40 missing genes...
not all genes were recovered, filling in 0 counts for 40 missing genes...

In [24]:
adata_ucla_sub
adata_cff_sub
adata_csmc_sub

AnnData object with n_obs × n_vars = 19239 × 2000
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'
    var: 'gene_symbols', 'ensembl'

AnnData object with n_obs × n_vars = 6995 × 2000
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'
    var: 'gene_symbols', 'ensembl'

AnnData object with n_obs × n_vars = 14475 × 2000
    obs: 'subject_ID', 'dataset', 'condition', 'mutation', 'original_celltype_ann', 'study', 'sample'
    var: 'gene_symbols', 'ensembl'

In [25]:
adata_ucla_sub.write(os.path.join(dir_data_out 'carraro_ucla_sub.h5ad'))
adata_cff_sub.write(os.path.join(dir_data_out, 'carraro_cff_sub.h5ad'))
adata_csmc_sub.write(os.path.join(dir_data_out, 'carraro_csmc_sub.h5ad'))

... storing 'gene_symbols' as categorical
... storing 'gene_symbols' as categorical
... storing 'gene_symbols' as categorical