# Data import for Lambrechts_2021/Wauters dataset:

In [1]:
import scanpy as sc
import numpy as np
import pandas as pd

In [2]:
adata = sc.read('../../../data/HLCA_extended/extension_datasets/ready/full/wouters.h5ad')
extra_labs_adata = sc.read('../../../data/HLCA_extended/extension_datasets/ready/full/wouters_labs.h5ad')

In [3]:
adata

AnnData object with n_obs × n_vars = 65166 × 33538
    obs: 'subject_ID', 'condition', 'original_celltype_ann', 'study', 'dataset', 'sample'

In [4]:
adata.obs['patient_type'] = extra_labs_adata.obs['PatientType']

In [5]:
adata.var_names
adata.obs_names

Index(['MIR1302-2HG', 'FAM138A', 'OR4F5', 'AL627309.1', 'AL627309.3',
       'AL627309.2', 'AL627309.4', 'AL732372.1', 'OR4F29', 'AC114498.1',
       ...
       'AC007325.2', 'BX072566.1', 'AL354822.1', 'AC023491.2', 'AC004556.1',
       'AC233755.2', 'AC233755.1', 'AC240274.1', 'AC213203.1', 'FAM231C'],
      dtype='object', length=33538)

Index(['BAL009_AAACCTGAGCTAGCCC-1', 'BAL009_AAACCTGTCACATACG-1',
       'BAL009_AAACGGGAGGGCTTCC-1', 'BAL009_AACCGCGAGGTCATCT-1',
       'BAL009_AACCGCGGTCGCCATG-1', 'BAL009_AACCGCGTCGTATCAG-1',
       'BAL009_AACGTTGTCACCTCGT-1', 'BAL009_AACTCAGCAACCGCCA-1',
       'BAL009_AACTCAGTCTCCAACC-1', 'BAL009_AACTCCCAGCTAGCCC-1',
       ...
       'BAL029_CTAGAGTAGCCCAATT-1', 'BAL029_CTCGAAACAATGGATA-1',
       'BAL029_CTGTGCTTCAATACCG-1', 'BAL029_GCAAACTGTTTGACAC-1',
       'BAL029_GCACATACACGAAAGC-1', 'BAL029_GGGCATCTCTAACTCT-1',
       'BAL029_TATGCCCTCATGGTCA-1', 'BAL029_TGCTGCTAGCGACGTA-1',
       'BAL029_TTAGGACTCAGCAACT-1', 'BAL029_TTAGTTCTCAGAGCTT-1'],
      dtype='object', name='Cell', length=65166)

In [6]:
for i in adata.obs.columns:
    print(i)
    adata.obs[i].value_counts()

subject_ID

BAL019    11574
BAL010     6395
BAL031     3795
BAL002     3775
BAL021     2593
BAL024     2267
BAL003     2117
BAL026     2111
BAL015     1989
BAL013     1950
BAL014     1939
BAL001     1884
BAL027     1487
BAL022     1482
BAL020     1408
BAL016     1399
BAL029     1278
BAL023     1224
BAL009     1212
BAL034     1199
BAL028     1183
BAL025     1175
BAL035     1144
BAL017     1128
BAL038     1097
BAL039     1017
BAL033     1005
BAL037      914
BAL040      853
BAL032      582
BAL018      504
BAL012      498
BAL011      448
BAL030      310
BAL036      230
Name: subject_ID, dtype: int64

condition

COVID19    33243
control    31923
Name: condition, dtype: int64

original_celltype_ann

Md_macrophage          22142
Neutrophil              9139
Ciliated                7429
Monocyte                5944
Secretory               4194
Squamous_KRT13          3543
CD4_Tcell               2975
Alveolar_macrophage     2015
CD8_Tcell               1481
Plasma_cell             1393
Basal                   1241
AT2                      897
NK                       796
Inflammatory             651
B_cell                   485
cDC                      400
Mast_cell                340
pDC                      101
Name: original_celltype_ann, dtype: int64

study

Lambrechts2021    65166
Name: study, dtype: int64

dataset

Lambrechts2021    65166
Name: dataset, dtype: int64

sample

BAL019    11574
BAL010     6395
BAL031     3795
BAL002     3775
BAL021     2593
BAL024     2267
BAL003     2117
BAL026     2111
BAL015     1989
BAL013     1950
BAL014     1939
BAL001     1884
BAL027     1487
BAL022     1482
BAL020     1408
BAL016     1399
BAL029     1278
BAL023     1224
BAL009     1212
BAL034     1199
BAL028     1183
BAL025     1175
BAL035     1144
BAL017     1128
BAL038     1097
BAL039     1017
BAL033     1005
BAL037      914
BAL040      853
BAL032      582
BAL018      504
BAL012      498
BAL011      448
BAL030      310
BAL036      230
Name: sample, dtype: int64

patient_type

ICU     33001
Ward    32165
Name: patient_type, dtype: int64

In [7]:
pd.crosstab(adata.obs.subject_ID, adata.obs.condition)

condition   COVID19  control
subject_ID
BAL001            0     1884
BAL002            0     3775
BAL003            0     2117
BAL009         1212        0
BAL010            0     6395
BAL011            0      448
BAL012          498        0
BAL013         1950        0
BAL014         1939        0
BAL015         1989        0
BAL016         1399        0
BAL017            0     1128
BAL018            0      504
BAL019            0    11574
BAL020         1408        0
BAL021         2593        0
BAL022         1482        0
BAL023         1224        0
BAL024         2267        0
BAL025         1175        0
BAL026         2111        0
BAL027         1487        0
BAL028            0     1183
BAL029            0     1278
BAL030            0      310
BAL031         3795        0
BAL032          582        0
BAL033         1005        0
BAL034         1199        0
BAL035         1144        0
BAL036            0      230
BAL037          914        0
BAL038            0     1097
BAL039         1017        0
BAL040          853        0

In [8]:
adata.obs['condition'] = ['COVID-19' if cond == 'COVID19' else 'non-COVID pneumonia' for cond in adata.obs['condition']]

In [9]:
adata.obs.condition.value_counts()

COVID-19               33243
non-COVID pneumonia    31923
Name: condition, dtype: int64

# Write updated anndata file

In [10]:
adata.write('../../../data/HLCA_extended/extension_datasets/ready/full/wouters.h5ad')

... storing 'condition' as categorical

# Subset data

In [11]:
gene_set = pd.read_csv('genes_for_mapping.csv')

In [12]:
cd ../scripts

/mnt/znas/icb_zstore01/groups/ml01/workspace/hlca_lisa.sikkema_malte.luecken/scripts

In [13]:
import preprocessing as pp

In [14]:
cd ../query_datasets/

/mnt/znas/icb_zstore01/groups/ml01/workspace/hlca_lisa.sikkema_malte.luecken/query_datasets

In [15]:
adata_sub = pp.subset_and_pad_adata(gene_set, adata)

/home/icb/malte.luecken/anaconda3/lib/python3.7/site-packages/pandas/core/arrays/categorical.py:2492: FutureWarning: The `inplace` parameter in pandas.Categorical.remove_unused_categories is deprecated and will be removed in a future version.
  res = method(*args, **kwargs)

not all genes were recovered, filling in 0 counts for 92 missing genes...

In [16]:
adata_sub

AnnData object with n_obs × n_vars = 65166 × 2000
    obs: 'subject_ID', 'condition', 'original_celltype_ann', 'study', 'dataset', 'sample', 'patient_type'
    var: 'gene_symbols', 'ensembl'

In [17]:
adata_sub.write('../../../data/HLCA_extended/extension_datasets/ready/subsetted/wouters_sub.h5ad')

... storing 'gene_symbols' as categorical