# Data import for Shalek_2018/Ordovas-Montanes dataset:

In [1]:
import os
os.chdir('./../')

In [2]:
import scanpy as sc
import anndata as ad
import preprocessing as pp
import pandas as pd

In [3]:
adata = sc.read('Ordovas-Montanes/ordovas.h5ad')

Observation names are not unique. To make them unique, call `.obs_names_make_unique`.

In [4]:
metadata = pd.read_csv('Ordovas-Montanes/OrdovasMontanes_HumanNasal_covid19_genes.csv').set_index('NAME')

In [5]:
metadata

,ACE2,TMPRSS2,CTSL,biosample_id,donor_id,sex,organism_age,total counts,disease__ontology_label,organ__ontology_label,cell_type__ontology_label,organism_age__unit_label,polyp,method,sinusturb
NAME,,,,,,,,,,,,,,,
Polyp11TOT_10,0.0,1.0,0.0,Polyp11TOT,320,female,55,7860.0,respiratory system disease,ethmoid sinus,basal cell of olfactory epithelium,year,YES,Surgery,EthSinus
Polyp11TOT_100,0.0,0.0,0.0,Polyp11TOT,320,female,55,5584.0,respiratory system disease,ethmoid sinus,plasma cell,year,YES,Surgery,EthSinus
Polyp11TOT_1000,0.0,0.0,0.0,Polyp11TOT,320,female,55,2015.0,respiratory system disease,ethmoid sinus,goblet cell,year,YES,Surgery,EthSinus
Polyp11TOT_1001,0.0,0.0,0.0,Polyp11TOT,320,female,55,2261.0,respiratory system disease,ethmoid sinus,plasma cell,year,YES,Surgery,EthSinus
Polyp11TOT_1002,0.0,0.0,0.0,Polyp11TOT,320,female,55,1136.0,respiratory system disease,ethmoid sinus,basal cell of olfactory epithelium,year,YES,Surgery,EthSinus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Polyp9TOT_995,0.0,0.0,0.0,Polyp9TOT,318,female,31,518.0,chronic rhinitis,ethmoid sinus,mast cell,year,YES,Surgery,EthSinus
Polyp9TOT_996,0.0,0.0,0.0,Polyp9TOT,318,female,31,808.0,chronic rhinitis,ethmoid sinus,plasma cell,year,YES,Surgery,EthSinus
Polyp9TOT_997,0.0,0.0,0.0,Polyp9TOT,318,female,31,663.0,chronic rhinitis,ethmoid sinus,T cell,year,YES,Surgery,EthSinus
Polyp9TOT_998,0.0,0.0,0.0,Polyp9TOT,318,female,31,926.0,chronic rhinitis,ethmoid sinus,plasma cell,year,YES,Surgery,EthSinus
Polyp9TOT_999,0.0,0.0,1.0,Polyp9TOT,318,female,31,626.0,chronic rhinitis,ethmoid sinus,mast cell,year,YES,Surgery,EthSinus

In [6]:
adata = adata[adata.obs_names.isin(metadata.index)]

In [7]:
adata = adata[~adata.obs_names.duplicated(keep='first')]

In [8]:
adata.obs['sample'] = metadata['biosample_id'].loc[adata.obs_names]
adata.obs['subject_ID'] = metadata['donor_id'].loc[adata.obs_names]
adata.obs['original_celltype_ann'] = metadata['cell_type__ontology_label'].loc[adata.obs_names]
adata.obs['condition'] = metadata['disease__ontology_label'].loc[adata.obs_names]
adata.obs['sex'] = metadata['sex'].loc[adata.obs_names]
adata.obs['age'] = metadata['organism_age'].loc[adata.obs_names]

Trying to set attribute `.obs` of view, copying.

In [9]:
adata.obs['dataset'] = 'Shalek2018'
adata.obs['study'] = 'Shalek2018'

In [10]:
genes_subset = pd.read_csv('./genes_for_mapping.csv')

In [11]:
genes_subset

           Unnamed: 0   gene_symbols
0     ENSG00000000938            FGR
1     ENSG00000000971            CFH
2     ENSG00000002587         HS3ST1
3     ENSG00000002933       TMEM176A
4     ENSG00000003436           TFPI
...               ...            ...
1995  ENSG00000280721     AC133644.2
1996  ENSG00000281103        TRG-AS1
1997  ENSG00000282122  CH17-262H11.1
1998  ENSG00000282988   RP1-34B20.21
1999  ENSG00000283063        TRBV6-2

[2000 rows x 2 columns]

In [12]:
adata_subset = pp.subset_and_pad_adata(genes_subset, adata)

not all genes were recovered, filling in 0 counts for 176 missing genes...

In [13]:
adata_subset.write('Ordovas-Montanes/ordovasmontanes_sub_annot.h5ad')

... storing 'sample' as categorical
... storing 'original_celltype_ann' as categorical
... storing 'condition' as categorical
... storing 'sex' as categorical
... storing 'dataset' as categorical
... storing 'study' as categorical
... storing 'gene_symbols' as categorical

In [14]:
adata.write('Ordovas-Montanes/ordovasmontanes_annot.h5ad')

... storing 'sample' as categorical
... storing 'original_celltype_ann' as categorical
... storing 'condition' as categorical
... storing 'sex' as categorical
... storing 'dataset' as categorical
... storing 'study' as categorical

In [15]:
adata.X

<36740x25328 sparse matrix of type '<class 'numpy.float32'>'
	with 32233322 stored elements in Compressed Sparse Row format>